@use "../abstracts" as abstracts;

.card__links--private {
	position: relative;
	cursor: not-allowed;

	.tooltiptext {
		visibility: hidden;
		width: 200px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 8px 5px;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -100px;
		opacity: 0;
		transition: opacity 0.3s;
		font-size: 12px;
		transform: skew(0deg) !important;

		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		}
	}

	&:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 2rem 0;
	border-bottom: 0.1em solid abstracts.$clr-white;

	// Hover animations
	background-color: transparent;
	background-image: linear-gradient(
		to right,
		abstracts.$clr-white 0%,
		abstracts.$clr-white 100%
	);
	background-size: 0% 100%;
	background-repeat: no-repeat;
	transition: 0.3s ease-out;

	h4 {
		@include abstracts.fluid-type(1.1rem, 1.4rem);
		font-weight: 400;
	}

	p {
		@include abstracts.fluid-type(0.8rem, 0.9rem);
		font-weight: 200;
		min-height: 2.4em;
		line-height: 1.2;
	}

	@include abstracts.respond-below("md") {
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
	}

	&:hover {
		padding-left: 2rem;
		padding-right: 2rem;
		background-size: 100% 100%;

		color: abstracts.$clr-bk;

		.icon {
			fill: abstracts.$clr-bk;
			stroke: abstracts.$clr-bk;

			&__details {
				stroke: none;
			}
		}
	}

	&__info {
		display: grid;
		gap: 0.3rem;
		flex: 1;

		@include abstracts.respond-below("md") {
			width: 100%;
		}
	}

	&__links {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		align-items: center;
		gap: 0.5rem;
		height: 100%;

		@include abstracts.respond-below("md") {
			width: 100%;
			justify-content: center;
			gap: 1.5rem;
		}

		&--github,
		&--details {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}
}
