@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 2rem 0;
	border-bottom: 0.1em solid $clr-warm-text;

	// Hover animations
	background-color: transparent;
	background-image: linear-gradient(
		to right,
		$clr-warm-text 0%,
		$clr-warm-text 100%
	);
	background-size: 0% 100%;
	background-repeat: no-repeat;
	transition: 0.3s ease-out;

	&:hover {
		padding-left: 2rem;
		padding-right: 2rem;
		background-size: 100% 100%;

		color: $clr-bk;

		.icon {
			fill: $clr-bk;
			stroke: $clr-bk;

			&__details {
				stroke: none;
			}
		}
	}

	&__title {
		flex: 1;

		h2 {
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 1.3em;
			margin-bottom: 0.7rem;
		}
		p {
			font-size: 0.9rem;
			font-weight: 200;
		}
	}

	&__github {
		display: flex;
		justify-content: center;
		flex: 1;
	}

	&__details {
		flex: 1;
		align-self: self-end;

		a {
			display: flex;
			flex-direction: column;
			align-items: end;

			span {
				font-size: 0.9rem;
				font-weight: 200;
			}
		}
	}
}
