@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;

.details {
  display: flex;
  gap: 3em;

  width: 100vw;
  height: 100vh;
  background-color: $clr-white;

  color: $clr-dark;

  @include details {
    align-items: center;
  }

  @include small {
    padding-bottom: 20em;

    align-items: flex-start;

    overflow: auto;
  }

  &__cover {
    display: flex;
    flex-direction: column;

    padding-top: 10em;
    padding-left: 4em;

    @include details {
      padding-top: 2em;
      padding-left: 1em;
      padding-right: 1em;
    }

    img {
      width: 40vw;
      margin-bottom: 5em;

      @include details {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
      }
    }

    a {
      width: 40vw;
      padding: 1em 0;
      margin-bottom: 2em;
      background-color: $clr-dark;

      font-size: $f-s-380;
      font-weight: 800;
      text-align: center;
      color: $clr-white;
    }
  }

  &__technologies {
    display: flex;
    flex-wrap: wrap;

    padding-top: 1em;

    font-weight: $f-w-600;
  }

  &__responsive {
    display: none;

    @include details {
      display: block;
    }

    h3 {
      padding-bottom: 0.5em;
      padding-left: 1em;


      font-size: $f-s-700;
      font-weight: $f-w-800;
    }

    p {
      width: 80vw;
      margin-left: 1.5em;
      padding-right: 1.5em;
      padding-bottom: 2em;

      font-size: $f-s-440;
      line-height: 1.7em;
    }
  }

  &__content {
    width: 35vw;
    padding-top: 10em;

    @include details {
      display: none;
    }

    h3 {
      padding-bottom: 1em;

      font-size: $f-s-700;
      font-weight: $f-w-800;
    }

    p {
      padding-right: 2em;

      font-size: $f-s-440;
      line-height: 1.7em;
    }
  }

  &__buttons {
    @include details {
      display: flex;
      justify-content: space-evenly;
      gap: 2em;

      width: 70vw;
      margin: 0 auto;
    }
  }
}