@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 12vw;
  border-right: 0.1em solid $clr-light-grey;

  h3 {
    padding-bottom: 0.7em;

    font-size: $f-s-700;
    font-weight: $f-w-800;
    line-height: 1.1em;
  }

  h5 {
    font-size: $f-s-400;
    font-weight: $f-w-400;
    line-height: 1.1em;
    color: $clr-light-grey;
  }

  &__title {
    padding: 1.7em;
  }

  &__navbar {

    margin-bottom: 5em;
    border-top: 0.1em solid $clr-light-grey;
    border-bottom: 0.1em solid $clr-light-grey;

    text-align: center;
    color: $clr-light-grey;

    a {
      font-size: $f-s-480;
      letter-spacing: 0.1em;
      color: $clr-white;

      &:hover {
        background-color: $clr-white;

        color: $clr-dark;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    a {
      border-bottom: 0.1em solid $clr-light-grey;
    }

    a:last-child {
      border-bottom: 0;
    }

    a > li {
      padding: 1em 0;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 0.5em;

    padding-bottom: 2em;

    img {
      width: 2.2em;

      color: $clr-white;
    }
  }
}
