@use "../abstracts/colors" as *;

.header {
	position: fixed;
	top: 0;
	left: 0;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-items: center;

	width: 100%;
	padding: 3rem;
	transition: background-color 0.3s;
}
