@use "../abstracts" as abstracts;
@use "../abstracts/mixins" as mixins;

.project {
	margin-top: 3rem;
	padding: 0 2rem;
	transition: background-color 0.3s;

	color: abstracts.$clr-white;

	@include mixins.respond-above("md") {
		margin-top: 40dvh;
		padding: 0 10rem;
	}

	img {
		height: auto;
		margin: 0 auto;
		padding-bottom: 1rem;
	}

	figure {
		margin-bottom: 6rem;
	}

	figcaption {
		width: 98%;
		margin: 0 auto;

		font-style: italic;
		font-weight: 200;
		text-align: end;
	}

	&__content {
		margin-bottom: 5rem;

		color: abstracts.$clr-warm-text;

		@include mixins.respond-above("md") {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			column-gap: 1rem;
			align-items: baseline;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto;
		}

		&--item:first-child {
			grid-column: 1 / span 2;
		}

		&--buttons {
			display: flex;
			gap: 1rem;

			margin-top: 3rem;
			margin-bottom: 1rem;

			a,
			div.card__links--private {
				@include abstracts.button-style(abstracts.$clr-warm-text);
			}

			div.card__links--private {
				cursor: not-allowed;

				&:hover {
					background-color: transparent;
					background-size: 0% 100%;
					color: abstracts.$clr-warm-text;
				}
			}

			@include mixins.respond-above("md") {
				margin-bottom: 5rem;
			}
		}

		h2 {
			font-size: 5rem;

			@include mixins.respond-above("md") {
				margin-bottom: 5rem;
			}
		}

		p {
			font-size: 1.2rem;
			font-weight: 200;
			line-height: 2rem;
		}
	}

	&__features {
		display: grid;
		grid-auto-flow: row;
		gap: 2rem;

		margin-bottom: 2rem;

		@include mixins.respond-above("lg") {
			grid-auto-flow: column;
		}

		h3 {
			font-size: 1.7rem;

			margin-bottom: 0.7rem;
		}

		p {
			font-weight: 200;
			line-height: 1.5rem;
		}

		&--card {
			display: grid;
			grid-template-rows: 1fr 2fr;
			padding: 0;

			@include mixins.respond-above("lg") {
				padding: 3rem 0;
			}
		}
	}

	&__conclusion {
		margin-bottom: 5rem;

		font-size: 1.1rem;
		font-weight: 100;
		font-style: italic;
		line-height: 1.3;

		@include mixins.respond-above("md") {
			margin-bottom: 7rem;

			font-size: 1.6rem;
		}
	}

	&__cta {
		display: flex;
		justify-content: center;
		gap: 1rem;

		margin-bottom: 2rem;

		@include mixins.respond-above("md") {
			margin-bottom: 7rem;
		}

		a,
		div.card__links--private {
			font-size: 0.7rem;
			@include mixins.button-style(abstracts.$clr-white);

			@include mixins.respond-above("md") {
				font-size: 1rem;
			}
		}

		div.card__links--private {
			cursor: not-allowed;

			&:hover {
				background-color: transparent;
				background-size: 0% 100%;
				color: abstracts.$clr-white;
			}
		}
	}

	&__footer {
		margin-bottom: 5rem;

		font-weight: 200;
	}
}
