# Astro
dist/
.astro/
*.log

# Dependencies
node_modules/

# IDEs / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# VSCode specific files
.vscode
