// FONT-SIZE
$f-s-2000: 5rem;
$f-s-1700: 4rem;
$f-s-1500: 3.5rem;
$f-s-1400: 3.25rem;
$f-s-1380: 3.2rem;
$f-s-1340: 3.1rem;
$f-s-1300: 3rem;
$f-s-1280: 2.9rem;
$f-s-1240: 2.8rem;
$f-s-1200: 2.75rem;
$f-s-1000: 2.5rem;
$f-s-900: 2.25rem;
$f-s-880: 2.2rem;
$f-s-840: 2.1rem;
$f-s-800: 2rem;
$f-s-700: 1.75rem;
$f-s-680: 1.7rem;
$f-s-640: 1.6rem;
$f-s-600: 1.5rem;
$f-s-580: 1.4rem;
$f-s-540: 1.3rem;
$f-s-500: 1.25rem;
$f-s-480: 1.2rem;
$f-s-440: 1.1rem;
$f-s-400: 1rem;
$f-s-380: 0.9rem;
$f-s-340: 0.8rem;
$f-s-300: 0.75rem;

// FONT-WEIGHT
$f-w-100: 100;
$f-w-200: 200;
$f-w-300: 300;
$f-w-400: 400;
$f-w-500: 500;
$f-w-600: 600;
$f-w-700: 700;
$f-w-800: 800;
$f-w-900: 900;

// CLAMP
$step--3: clamp(1.5rem, 1rem + 1.413vw, 2.6875rem);
$step--2: clamp(2.0833rem, 1.7645rem + 1.5942vw, 3rem);
$step--1: clamp(2.5rem, 2.0652rem + 2.1739vw, 3.75rem);
$step-0: clamp(3rem, 2.413rem + 2.9348vw, 4.6875rem);
$step-1: clamp(3.6rem, 2.8141rem + 3.9293vw, 5.8594rem);
$step-2: clamp(4.32rem, 3.2751rem + 5.2247vw, 7.3242rem);
$step-3: clamp(5.184rem, 3.8027rem + 6.9066vw, 9.1553rem);
$step-4: clamp(6.2208rem, 4.404rem + 9.084vw, 11.4441rem);
$step-5: clamp(7.465rem, 5.0858rem + 11.8959vw, 14.3051rem);
