// FONT-SIZE
$f-s-2000: 5rem;
$f-s-1700: 4rem;
$f-s-1500: 3.5rem;
$f-s-1400: 3.25rem;
$f-s-1380: 3.2rem;
$f-s-1340: 3.1rem;
$f-s-1300: 3rem;
$f-s-1280: 2.9rem;
$f-s-1240: 2.8rem;
$f-s-1200: 2.75rem;
$f-s-1000: 2.5rem;
$f-s-900: 2.25rem;
$f-s-880: 2.2rem;
$f-s-840: 2.1rem;
$f-s-800: 2rem;
$f-s-700: 1.75rem;
$f-s-680: 1.7rem;
$f-s-640: 1.6rem;
$f-s-600: 1.5rem;
$f-s-580: 1.4rem;
$f-s-540: 1.3rem;
$f-s-500: 1.25rem;
$f-s-480: 1.2rem;
$f-s-440: 1.1rem;
$f-s-400: 1rem;
$f-s-380: 0.9rem;
$f-s-340: 0.8rem;
$f-s-300: 0.75rem;

// FONT-WEIGHT
$f-w-100: 100;
$f-w-200: 200;
$f-w-300: 300;
$f-w-400: 400;
$f-w-500: 500;
$f-w-600: 600;
$f-w-700: 700;
$f-w-800: 800;
$f-w-900: 900;