@use "../abstracts" as abstracts;

.about {
	display: grid;
	align-content: center;

	width: 80vw;
	margin: 0 auto;
	padding-bottom: 5rem;

	font-size: 1.1rem;
	font-weight: 300;
	color: abstracts.$clr-white;
	line-height: 1.68em;

	p {
		padding-bottom: 2rem;
	}

	p:first-child {
		padding-top: 3rem;
	};
}
