@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;

.about {
	display: grid;
	align-content: center;

	width: 80vw;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;

	font-size: 1.1rem;
	font-weight: 300;
	color: $clr-warm-text;
	line-height: 1.68em;

	p {
		padding-bottom: 1rem;
	}

	p:first-child {
		padding-top: 5rem;
	};
}
