@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5em;

  height: 100vh;
  padding-left: 2em;

  mix-blend-mode: screen;

  #target1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  #target2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  #target3 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  @include small {
    height: 0;
    margin-top: 19em;
    padding-left: 1em;
  }

  p {
    font-size: $f-s-2000;
    font-weight: $f-w-500;

    line-height: 1em;


    @include small {
      font-size: $f-s-1500;
    }

    @include phones {
      font-size: $f-s-1200;
      font-weight: $f-w-600;
    }
  }

  .char {
    transform: translateY(115px);
    transition: .5s;
  }
}