@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;

.landing {
	align-content: center;

	width: 80vw;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;

	&__top,
	&__bottom {
		display: grid;
		grid-template-columns: 1fr;
		grid-column: 1 / -1;

		span {
			font-size: $step-0;
			font-weight: 800;
			color: $clr-warm-text;
		}
	}

	&__top {
		grid-column: span 2;
	}

	&__middle {
		display: flex;
		justify-content: space-between;

		padding: 3rem 0;
		background: linear-gradient(to right, #4d5365, #4e6650);

		@include phones {
			flex-direction: column;
      align-items: center;

      padding: 1rem 0;
		}

		span {
			font-size: $step--3;
			font-weight: 600;

			margin: 0 2rem;
		}
	}

	&__bottom {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row: 3;

		text-align: end;
	}
}
