@use "../abstracts/mixins" as *;

.work {
  display: grid;
  grid-template-columns: 1fr 1fr;

  min-width: 85vw;

  @include small {
    grid-template-columns: 1fr;

    min-width: 100%;
    height: 30em;
  }

  @include desktop {
    min-width: 85vw;
  }
}
