@use "../abstracts/mixins" as *;

.work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr));
  justify-content: center;

  @include small {
    min-width: 100%;
    min-height: 50vh;
  }
}
