@use "../abstracts/mixins" as *;

.work__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;

	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10rem;
	padding-bottom: 10rem;
}
