---
import Layout from "../../layouts/Layout.astro";

import "../../styles/style.scss";
---

<Layout title="Contact">
	<div class="contact">
		<div class="contact__content">
			<span class="contact__title">GOT A PROJECT IN MIND? LET'S DISCUSS.</span>
			<span class="contact__subtitle">
				I'm always looking for problems to solve and new partners to collaborate
				with. Drop me a message to chat.
			</span>
		</div>

		<div class="contact__email">
			<a href="mailto:albertevieites@gmail.com"> albertevieites@gmail.com </a>
		</div>

		<div class="contact__linkedin">
			<a href="https://www.linkedin.com/in/albertevieites/">LINKEDIN</a>
		</div>
	</div>
</Layout>
