---
import Layout from "../../layouts/Layout.astro";
import Web from "../../components/Work/Web.astro";
import Data from "../../components/Work/Data.astro";

import "../../styles/style.scss";
---

<Layout title="Work">
  <div class="work__container">
		<Data />
    <Web />
  </div>
</Layout>
