---
import { Image } from "astro:assets";
import BrandImage from "../../assets/logos/brand.png";
---

<a href="/" class="brand" >
	<h2 class="brand__h2">alberte vieites</h2>
	<Image class="brand__img" src={BrandImage} alt="png" />
</a>

<script>
	document.addEventListener("scroll", function () {
		var brandContainer = document.querySelector(".brand");
		if (window.scrollY > 50) {
			brandContainer.classList.add("scrolled");
		} else {
			brandContainer.classList.remove("scrolled");
		}
	});
</script>
