---
import Layout from "../layouts/Layout.astro";

import "../styles/style.scss";
---

<Layout title="About">
  <div class="about" data-barba="container" data-barba-namespace="fade">
    <p>
      I’m a Web Developer based in London.
    </p>
    <p>
      I have a solid background in the creative industries but a few years ago, I flirted with coding and I knew I would someday return to it.
    </p>
    <p>
      So, after many years of enjoying a profesional career in the film and photography fields, I thought it was the perfect moment to kickstart my life in the technology industry.
    </p>
    <p>
      I am a very curious person, which took me to live and work in places such as Japan and Morocco. This curiosity also meant I always wanted to know everything related to coding.
    </p>
    <p>
      I am passionate about having an innovative approach to self-expression through my work and I want to develop a fresh and dynamic path between the code and the final product.
    </p>
  </div>
</Layout>
