---
import Layout from "../layouts/Layout.astro";

import "../styles/style.scss";
---

<Layout title="About">
  <div class="about">
    <p>
      I’m a spanish Web Developer based in London. I have a serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
    </p>

    <p>
      Well-organised person, problem solver, independent employee with high attention to detail. Fan of MMA, outdoor activities, TV series and English literature. A family person and father of two fractious boys.
    </p>

    <p>
      Interested in the entire frontend spectrum and working on ambitious projects with positive people.
    </p>

    <p>
      I've got an innovative approach to self-expression through my work. A path between the code and what we can see as a final product.
    </p>
  </div>
</Layout>
