---
import Layout from "../layouts/Layout.astro";

import '../styles/style.scss';
---
	<Layout title="Alberte Vieites">
		<div class="index" data-barba="container" data-barba-namespace="home">
			<p id="target1">Hi,</p>
			<p id="target2">I'm Alberte,</p>
			<p id="target3">web developer</p>
		</div>
	</Layout>
