---
import Layout from "../layouts/Layout.astro";

import "../styles/style.scss";
---

<Layout title="Alberte Vieites">
	<div class="landing">
		<div class="landing__top">
			<span>CRAFTING CODE INTO STORIES</span>
		</div>
		<div class="landing__middle">
			<span>CREATIVE CODE</span>
			<span>DATA DECODING</span>
		</div>
		<div class="landing__bottom">
			<span>REVEAL HIDDEN DATA STORIES</span>
		</div>
	</div>
</Layout>
