---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Portfolio">
	<h1>UNDER CONSTRUCTION</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, aspernatur placeat distinctio nobis neque id libero tenetur iste iusto minima officia accusantium quaerat quas nam consequuntur. Voluptate ipsa qui iure.</p>
</Layout>
