---
import Layout from "../layouts/Layout.astro";

import '../styles/style.scss';
---
	<Layout title="Alberte Vieites">
		<div class="index">
			<p>Hi,</p>
			<p>I'm Alberte,</p>
			<p>web developer</p>
		</div>
	</Layout>