---
import Layout from "../layouts/Layout.astro";

import '../styles/style.scss';
---

<Layout title="Success">
  <div class="success">
    <h1>Successfully sent</h1>
    <p>Your message has been received.</p>
  </div>
</Layout>