---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import '../styles/style.scss';
---

<Layout title="Work">
  <div class="work">
    <Card project="Mr. Stick" url="/mr-stick"></Card>
    <Card project="yapic" url="/yapic"></Card>
    <Card project="iMentor" url="/imentor"></Card>
  </div>
</Layout>