<footer class="footer">
  <div class="footer__title">
    <a href="/">
      <h3>Alberte Vieites</h3>
      <h5>Web Developer</h5>
    </a>
  </div>

  <nav class="footer__navbar">
    <ul class="footer__list">
      <div class="footer__element">
        <a href="/about">
          <li class="footer__item--about btn active"><span>About</span></li>
        </a>
      </div>
      <div class="footer__element">
        <a href="/work">
          <li class="footer__item--work btn"><span>Work</span></li>
        </a>
      </div>
      <div class="footer__element">
        <a href="/contact">
          <li class="footer__item--contact btn"><span>Contact</span></li>
        </a>
      </div>
    </ul>
  </nav>

  <div class="footer__social">
    <a href="https://github.com/albertevieites/"><img src="./logos/brand-github.svg" alt="gitgub profile"></a>
    <a href="https://www.linkedin.com/in/albertevieites/"><img src="./logos/brand-linkedin.svg" alt="linkedin profile"></a>
  </div>
</footer>