<header class="header">
  <div class="header__title">
    <a href="/">
      <h3>Alberte Vieites</h3>
      <h5>Web Developer</h5>
    </a>
  </div>

  <nav class="header__navbar">
    <ul class="header__list">
      <a href="/about">
        <li class="header__item--about">About</li>
      </a>
      <a href="/work">
        <li class="header__item--work">Work</li>
      </a>
      <a href="/contact">
        <li class="header__item--contact">Contact</li>
      </a>
    </ul>
  </nav>

  <div class="header__social">
    <a href="https://github.com/albertevieites/"><img src="./brand-github.svg" alt="gitgub profile"></a>
    <a href="https://www.linkedin.com/in/albertevieites/"><img src="./brand-linkedin.svg" alt="linkedin profile"></a>
  </div>
</header>