html,
body {
<<<<<<< HEAD
  background-color: #1d1d1d;
  color: #faf8ff;
  font-family: "Inter", sans-serif;
=======
  height: 100vh;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
>>>>>>> develop
}