---
import Card from "../../components/Card.astro";
import { WebProjects } from "../../data/web_projects";

const sortedWebProjects = WebProjects.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
---

<div class="web">
  <div class="web__title">
    <h4>web development</h4>
  </div>
  {
    sortedWebProjects.map((project) => (
      <Card
        name={project.name}
        github={project.github}
        description={project.description}
        link={`/projects/${project.slug}`}
      />
    ))
  }
</div>
