@use '../abstracts/colors' as *;
@use './font-face';
@use '../abstracts/mixins' as *;

html,
body {
  display: flex;

  background-color: $clr-dark;

  font-family: 'Inter', normal;
  color: $clr-white;

  @include small {
    flex-direction: column;
  }
}
