@use "../abstracts" as abstracts;

html {
	box-sizing: border-box;
	font-size: 100%;
	overflow-y: scroll;
	background-color: abstracts.$clr-bk;
	transition: background-color 0.3s;

	font-family: "Rosario", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: abstracts.$clr-bk;
	transition: background-color 0.3s;

	font-family: "Rosario", sans-serif;
}

body.theme-inverted {
	.project {
		// Usamos tu variable para el texto oscuro
		color: abstracts.$clr-dark-text;

		// Aseguramos que todos los elementos hereden el color oscuro
		h2,
		h3,
		p,
		figcaption,
		a {
			color: abstracts.$clr-dark-text;
		}

		// Actualizamos los bordes y el fondo de los botones para el tema claro
		.project__content--buttons a,
		.project__cta a {
			border-color: abstracts.$clr-dark-text;
			background-image: linear-gradient(
				to right,
				abstracts.$clr-dark-text 0%,
				abstracts.$clr-dark-text 100%
			);

			&:hover {
				color: abstracts.$clr-white; // Al pasar el ratón, el texto será blanco
			}
		}

		.project__features {
			border-color: abstracts.$clr-dark-text;
		}
	}

	.navbar {
		// Cambiamos el color principal del texto a oscuro
		color: abstracts.$clr-dark-text;

		// Nos aseguramos de que la línea inferior también cambie de color
		.navbar__item::after,
		.navbar__item--active::after {
			background-color: abstracts.$clr-dark-text;
		}
	}
}
