---
import { Image } from "astro:assets";

import GithubIcon from "../../assets/logos/github.svg";

interface Props {
	href: string;
	name: string;
	description: string;
	github: string;
}

const { href, name, description, github } = Astro.props;
---

<div class="card">
		<div class="card__info">
			<h4>{name}</h4>
			<p>{description}</p>
		</div>
		<div class="card__links">
			<a
				href={github}
				target="_blank"
				rel="noopener noreferrer"
				class="card__links--github"
			>
				<GithubIcon width={27} height={27} fill="currentColor" />
			</a>
			<a href={href} class="card__links--details">
				<span>Project Details</span>
			</a>
		</div>
</div>
